.listItem {
    display: flex;
    min-width: 240px;
    flex-direction: column;
    justify-content: start;
    flex: 1;
    flex-basis: 0%;
  }
  
  .subheading {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.4;
  }
  
  .description {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 16px;
  }