.layout {
/* background-color: transparent; */
    display: flex;
    flex-direction: column;
    overflow: hidden;
    font-family: Roboto, sans-serif;
    justify-content: center;
    padding: 112px 64px;
  }
  
  .container {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 80px;
    justify-content: start;
    flex-wrap: wrap;
  }
  
  .content {
    align-self: stretch;
    display: flex;
    min-width: 240px;
    flex-direction: column;
    justify-content: start;
    flex: 1;
    flex-basis: 0%;
    margin: auto 0;
  }
  
  .header {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: start;
  }
  
  .heading {
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
  }
  
  .description {
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    margin-top: 24px;
  }
  
  .featuresList {
    display: flex;
    margin-top: 32px;
    width: 100%;
    flex-direction: column;
    justify-content: start;
  }
  
  .featuresRow {
    display: flex;
    width: 100%;
    align-items: start;
    gap: 24px;
    justify-content: start;
    flex-wrap: wrap;
    padding: 8px 0;
  }
  
  .featureImage {
    aspect-ratio: 0.96;
    object-fit: contain;
    object-position: center;
    width: 100%;
    align-self: stretch;
    min-width: 240px;
    flex: 1;
    flex-basis: 0%;
    margin: auto 0;
  }
  
  @media (max-width: 991px) {
    .layout {
      padding: 100px 20px;
    }
  
    .container,
    .content,
    .header,
    .heading,
    .description,
    .featuresList,
    .featuresRow,
    .featureImage {
      max-width: 100%;
    }
  }