.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 3rem;
  z-index: 100;
  transition: background-color 0.3s, box-shadow 0.3s;
  display: flex;
  justify-content: center;
  border-radius: 50rem;
  margin-top: 1rem;
}
.navbar-links-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: min-content;
  height: 1rem;
  border: #e7dfdd solid 1px;
  border-radius: 50rem;
  padding: 1rem 1rem;
}
.navbar-floating {
  background-color: transparent;
  box-shadow: none;
}

.navbar-scrolled {
  background-color: black;
}

/* Navbar Content */
.navbar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1600px;
  padding: 1rem 1rem;
}

/* Logo */
.navbar-logo  {
  width: 5rem;
  height: auto;
}
.navbar-logo img {
  width: 12rem;

}

/* Navbar Links (Desktop) */
.navbar-links {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.navbar-links.open {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: black;
  padding: 1rem;
}

/* Register Button */
.navbar-register button {
  padding: 0.5rem 1.2rem;
  background-color: #104386;
  color: #ffffff;
  border: none;
  border-radius: 5rem;
  cursor: pointer;
  font-size: 1.1rem;
}

.navbar-register button:hover {
  background-color: #162447;
}

/* Mobile Toggle Button */
.navbar-toggle {
  display: none;
  flex-direction: column;
  gap: 0.3rem;
  cursor: pointer;
}

.navbar-toggle .dot {
  width: 6px;
  height: 6px;
  background-color: white;
  border-radius: 50%;
}

/* Mobile Styles */
@media (max-width: 768px) {
  .navbar-links-container {
    display: none;
  }

  .navbar-toggle {
    display: flex;
  }
}
