.home-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background: linear-gradient(to bottom, #000000, #0d47a1); */
    color: #e7dfdd;
    height: 100%;
  }
  
  .section {
    height: 100vh;
    width: 100vw;
    display: flex;
    text-align: center;
    animation: fadeIn 1s ease-in;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  