.app {
  font-family: 'Arial, sans-serif';
  
  color: #e7dfdd; /* Light text color */
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 !important;
  margin: 0 !important;
}

/* Add more global styles as needed */
